@import '../css/colors.scss';
@import '../css/include-media.scss';
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
	-webkit-font-smoothing: antialiased;
	outline: none;
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 0px; /* remove scrollbar space */
	background: transparent; /* optional: just make scrollbar invisible */
}

html {
	overflow-x: hidden;
	pointer-events: all;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;

	// Default font size
	font-size: 16px;

	@include media("<1700px") {
		font-size: 14px;
	}

	@include media("<desktop") {
		font-size: 13px;
	}

	@include media("<455px") {
		font-size: 10px;
	}
}

// Our main background colour
body {
	overflow-x: hidden;
	position: relative;
	margin: 0;
	padding: 0;
	background-color: $secondary-blue;
	color: $white !important;

	// Default font
	font-family: 'Cabin', sans-serif;
}

// Alot of responsiveness comes from this container
.container {
	width: 60vw;
	margin: 0 auto;

	@include media("<1700px") {
		width: 80vw;
	}

	@include media("<desktop") {
		width: 90vw;
	}
}



.button-row {
	padding: 30px 0;
	display: flex;
	flex-direction: row;

	gap: 0 30px;

	@include media("<455px") {
		flex-direction: column;
		gap: 10px 0;
	}
}

// Buttons
button {
	// Base button class
	&.btn {
		cursor: pointer !important;

		font-size: 0.83rem;
		color: $white;
		font-family: Mulish;
		font-weight: bold;
		text-transform: uppercase;

		align-items: center;
		justify-content: center;
		position: relative;
		padding: 10px 25px;

		border-radius: 4px;

		transition: all 0.5s;
		box-shadow: 0px 3px 6px 0px rgba($color: #000000, $alpha: 0.16);

		@include media("<455px") {
			width: 100%;
		}

		// Button with solid background
		&.btn-solid {
			background-color: $primary-blue;
			outline: none;
			border: none;

			&:hover {
				background-color: $secondary-blue;
			}

            &.selected {
                background-color: $secondary-blue;
                outline: none;
                border: none;
            }
		}

		&.btn-outline {
			background-color: transparent;
			border: solid 1.5px $primary-blue;

			&:hover {
				background-color: $secondary-blue;
				border: solid 1.5px $secondary-blue;
			}

            &.selected {
                background-color: $secondary-blue;
                outline: none;
                border: none;
            }
		}
	}
}

// Custom card layouts
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding-bottom: 100px;

    gap: 26px 30px;

	@include media("<455px") {
		padding-bottom: 50px;
	}

    & .card {
        transition: all 0.5s;

        flex: 1;
        flex-basis: 20%;

        display: flex;
        flex-direction: column;

        background-color: $secondary-white;
        color: $secondary-blue;

        border-radius: 4px;
        padding: 20px 30px;

        position: relative;
        align-items: center;
        align-content: center;
        justify-content: center;
        text-align: center;

		@include media("<455px") {
			flex-basis: 100%;
		}

        h1 {
            font-size: 1.375rem;
            font-weight: bold;
        }

        p {
            padding: 20px 0px;
            font-family: Mulish;
            font-size: 0.875rem;
            width: 90%;
        }

        &:hover {
            flex-grow: 1.2;
        }
    }
}
