@import '../css/colors.scss';
@import '../css/include-media.scss';
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
	-webkit-font-smoothing: antialiased;
	outline: none;
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 0px; /* remove scrollbar space */
	background: transparent; /* optional: just make scrollbar invisible */
}

html {
	overflow-x: hidden;
	pointer-events: all;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;

	// Default font size
	font-size: 16px;

	@include media('<1700px') {
		font-size: 14px;
	}

	@include media('<desktop') {
		font-size: 13px;
	}

	@include media('<455px') {
		font-size: 10px;
	}
}

// Our main background colour
body {
	// Make sure no horizontal scroll
	overflow-x: hidden;
	// Reset position
	position: relative;
	margin: 0;
	padding: 0;

	// Default colours
	background-color: $secondary-blue;
	color: $white !important;

	// Default font
	font-family: 'Cabin', sans-serif;
}

// Wraps the whole page content. Keeps everything in the center
.container {
	width: 60vw;
	margin: 0 auto;

	// Widens as viewport shrinks
	@include media('<1700px') {
		width: 80vw;
	}

	@include media('<desktop') {
		width: 90vw;
	}
}

// A row of buttons that provides some padding
.button-row {
	padding: 30px 0;
	display: flex;
	flex-direction: row;

	gap: 0 30px;

	// When too small stack on one another
	@include media('<455px') {
		flex-direction: column;
		gap: 10px 0;
	}
}

// Buttons
button {
	// Base button class
	&.btn {
		cursor: pointer !important;

		font-size: 0.83rem;
		color: $white;
		font-family: Mulish;
		font-weight: bold;
		text-transform: uppercase;

		align-items: center;
		justify-content: center;
		position: relative;
		padding: 10px 25px;

		border-radius: 4px;

		transition: all 0.5s;
		box-shadow: 0px 3px 6px 0px rgba($color: #000000, $alpha: 0.16);

		@include media('<455px') {
			width: 100%;
		}

		// Button with solid background
		&.btn-solid {
			background-color: $primary-blue;
			outline: none;
			border: none;

			&:hover {
				background-color: $secondary-blue;
			}

			&.selected {
				background-color: $secondary-blue;
				outline: none;
				border: none;
			}
		}

		// Button with outline
		&.btn-outline {
			background-color: transparent;
			border: solid 1.5px $primary-blue;

			&:hover {
				background-color: $secondary-blue;
				border: solid 1.5px $secondary-blue;
			}

			&.selected {
				background-color: $secondary-blue;
				outline: none;
				border: none;
			}
		}

		// Button in the tutorial should have some padding around it
		&.btn-tutorial {
			margin: 1.4rem 0;
		}
	}
}

// A layout of our cards
.cards {
	// FLEXBOX IS COOL
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	padding-bottom: 100px;

	gap: 26px 30px;

	@include media('<455px') {
		padding-bottom: 50px;
	}

	// Style the card
	& .card {
		// Animations
		transition: all 0.5s;

		flex: 1;
		flex-basis: 20%;

		display: flex;
		flex-direction: column;

		background-color: $secondary-white;
		color: $secondary-blue;

		border-radius: 4px;
		padding: 20px 30px;

		position: relative;
		align-items: center;
		align-content: center;
		justify-content: center;
		text-align: center;

		// On phone make card full width
		@include media('<455px') {
			flex-basis: 100%;
		}

		h1 {
			font-size: 1.375rem;
			font-weight: bold;
			padding: 0.8rem 0;
		}

		p {
			padding: 1.2rem 0px;
			padding-bottom: 2rem;
			font-family: Mulish;
			font-size: 0.875rem;
			width: 90%;
		}

		// Cool hover effects
		&:hover {
			flex-grow: 1.2;
		}
	}
}

// Formatting for the markdown tutorial container
.tutorial {
	padding-bottom: 4rem;
	text-align: center;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	// All formatting for the actual markdown
	// Tutorial headers
	h1 {
		font-size: 3rem;

		padding: 22px;
		padding-top: 8.875rem;

		&:first-child {
			padding-top: 0;
		}
	}

	// Sub headings
	h2 {
		padding: 1.4rem 0;
	}

	// List elements
	li {
		list-style: none;

		padding: 0.5rem;
		margin: 0.4rem 0;
		border: 2px solid $primary-blue;
		border-radius: 4px;
		text-align: left;
	}

	// Tutorial text
	p {
		font-family: Mulish;
		font-size: 1.125rem;
		width: 80%;
	}

	// Integrated images
	img {
		margin: 1.4rem 0;
	}
}
